<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sulwep7.tarotpointcounterback.mapper.PlayersScoreMapper">
    <resultMap id="playerScoreResultMap" type="com.sulwep7.tarotpointcounterback.model.entity.PlayerScore">
        <id property="gameUuid" column="gameUuid"/>
        <result property="name" column="playerName"/>
        <result property="score" column="playerScore"/>
    </resultMap>

    <select id="getPlayersScoreOfGame" resultMap="playerScoreResultMap" parameterType="java.lang.String">
        select * from players_score
        where gameUuid = #{GAME_UUID};
    </select>

    <insert id="insertPlayerScore">
        insert into players_score(gameUuid,playerName,playerScore)
        values(#{GAME_UUID},#{PLAYER_NAME},#{PLAYER_SCORE});
    </insert>

    <update id="updatePlayerScore">
        update players_score
        set playerScore = #{PLAYER_SCORE}
        where gameUuid = #{GAME_UUID}
        and playerName = #{PLAYER_NAME};
    </update>

    <delete id="deletePlayerScore">
        delete from players_score
        where gameUuid = #{GAME_UUID}
        and playerName = #{PLAYER_NAME};
    </delete>
</mapper>